#mapAdvance {
  height: calc(100% - 103px);
    
    z-index: 1;
}
#mapAdvance .marker_google_map {
    color: black;
    display: block;
    max-width: 200px;
    background: white;
  user-select: none;
    cursor: pointer;
    background: #fff;
  text-align: center;
    font-weight: 700;
  padding: 5px 10px;
  font-size: 1.1em;
  border-radius: 20px;
}
#mapAdvance .marker_google_map.selected{
 background-color: blue;
    color: #fff;
    box-shadow: 0 3px 12px 6pxrgba(61,78,83,.14);
}
#mapAdvance .gm-style .gm-style-iw-c {
  padding: 0 !important;
}
#mapAdvance .gm-style .gm-style-iw-d {
 width: auto;
  overflow: auto !important;
}
#mapAdvance .listing-card-info-price {
    padding-left: 0;
}
#mapAdvance .property-listing {
    margin: 0;
 padding: 0;
}